.category {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;

}

.category>.cat {
    width: 320px;
    height: 320px;
    overflow: hidden;

}

.category>.cat>img {
    margin-top: 10px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 320px;
    height: 320px;
}

.category>.cat>img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    
}