.card {
    height: 400px;
    width: 300px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 15px;
    background-color: white;
    margin-left: 50px;
}

.card>img {
    width: 100%;
    height: 70%;
}

.card .product_title{
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 15px;
}

.card .product_price{
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 15px;
    color: red;
}
