
.pic-pic2 {
    height: 90vh;
    width: 100%;
    display: flex;
    padding-top: 22px;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-2 {
    padding: 20px;
    transform: translate(8%, 22%);
    width: 85%;
    height: 450px;
}


@media (max-width: 991px) {
    .slider-title{
        width: 100%;
    }
    
    .content-2 {
        width: 100%;
    }    

    .pic-pic2 {
        flex-direction: column;
    }
}
