.c-image {
    height: 80vh;
    width: 100%;
    display: flex;
    padding-top: 22px;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-2 {
    padding: 5px;
    transform: translate(8%, 12%);
    width: 85%;
    height: 600px;
}

.c-title {
    color: white;
    position: absolute;
    font-size: 2.4rem;
    font-weight: bold;
    top: 2px;
    right: 50%;
    transform: translate(50%, 50%);

}

.card{
    margin-top: 50px;
}

@media (max-width: 991px) {
    .c-title {
        font-size: 1.5rem;
        margin-top: 15px;
    }

    .card{
        margin: 0 auto;
        margin-top: 50px;
    }
}