.container {
    display: flex;
    width: 97%;
    margin: 0 auto;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}



.pic-pic2 {
    height: 60vh;
}

.pic-pic2 .title {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -65%);
    color: white;
    font-size: 4rem;
    font-weight: bold;
}

.r-category {
    width: 50%;
    position: absolute;
    right: 25%;
    bottom: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.b-category {
    padding: 10px 25px;
    text-align: center;
    border: 2px solid white;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.test {
    width: 190px;
    margin-left: 8px;
}

.sortType {
    display: flex;
    align-items: center;
    margin-left: 80px;
    margin-top: 10px;

}

@media (max-width: 991px) {
    .pic-pic2 .title {
        top: 20%;
    }

    .r-category {
        flex-direction: column;
    }

    .b-category {
        margin-top: 10px;
    }
}